.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
}

.btn-proceed{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #c59e39;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}