.cart{
     background-color: rgb(238, 190, 132);
     padding: 25px;
     position: sticky;
     top: 0;

}
.cart p{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.btn-clear-cart{
     width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

