.product{
    width: 300px;
    height: 510px;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
}
.product img {
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}
  
.product-name{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    
}
.product-info{
    margin-left:14px;
}
.product-info p{
    margin-top: 5px;
}
.btn-cart{
    width: 100%;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 0 10px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color: #ddb347;
}