.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
}
nav a:hover{
    color: #FFD700;
}