.form-container {
    width: 500px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    padding-left: 40px;
}

.form-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 29px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;
}
.form-control{
    margin-bottom: 20px;
}
.form-control label {
     display: block;
    font-family: 'Lato';
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2A414F;
    margin-bottom: 10px;
}
.form-control input {
    width: 415px;
    height: 40px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.4rem;
    padding-left: 10px;
}

.btn-submit {
    width: 415px;
    height: 55px;
    background: rgba(255, 153, 0, 0.4);
    border-radius: 5px;
    /* color: #fff; */
    font-size: 1.4rem;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    letter-spacing: 0.0015em;
}
.btn-submit:hover {
    background: rgba(255, 153, 0, 0.6);
}